@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@700&display=swap');

:root {
  --body-bg-color: #161616;
  --primary-text-color: #c4c4c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  scroll-padding-top: 56px;
}

body {
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
  font-family: 'Poppins', sans-serif;
}
